* {
    font-family: 'GoogleSansRegular', sans-serif;
}

.MainFrame {
    font-family: 'GoogleSansRegular', sans-serif;
    background-color: black;
    height: 375vh;
    width: 100%;
}

.Tracks-Text {
    color: aliceblue;
    padding-top: 2vh;
    font-weight: 800;
    font-size: 36px;
    align-items: center;
}

.Info {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-size: 26px;
    padding-left: 25%;
    padding-right: 25%; 
}

.Path {
    display: flex;
    flex-direction: column;
}

.Path .bulb1 {
    margin-top: 10%;
    margin-left: 59%;
     height: 100px;
     width: 100px;
     /* box-shadow: 3px 2px 40px yellow ; */
}

.Path1 {
    margin-top: -2%;
    margin-left: 55%;
    height: 100px;
    width: 100px;
   }

   .Circle1 {
    /* color:goldenrod; */
    background-color: goldenrod;
    border-radius: 200px;
    border: 1px solid;
    height: 300px;
    width: 300px;
    margin-left: 38%;
    margin-top: -5%;
   }

   .Circle1 .AR-Head {
    color:black;
    font-weight: 800;
    margin-top: 18%;
   }

.Circle1 .AR {
    height: 80px;
    width: 80px;
    margin-top: 10px;
}

.Circle1 .AR-statement {
        color: black;
        font-weight: 600;
        font-size: 17px;
        display: flex;
        flex-direction: column;
}

.Circle1 .Path2 {
    height: 150px;
    width: 80px;
    margin-top: 2%;
    margin-right: 66%;
}

.Circle1 .Path3 {
    height: 200px;
    width: 200px;
    margin-top: -23%;
    margin-right: -14%;
}

.Circle1 .Code1 {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 41%;
    margin-top: -2%;
}

.Circle2 {
    background-color: lightgreen;
    border-radius: 200px;
    border: 1px solid;
    height: 300px;
    width: 300px;
    margin-left: 50%;
    margin-top: 6%;
   }

   .Circle2 .BlockChain {
      height: 80px;
      width: 80px;
      margin-top: 10%;
   }
  .Circle2 .Block-Head {
    font-weight: 800;
    margin-top: 10%;
  }

  .Circle2 .Block-Statement {
    font-weight: 600;
    display: flex;
    flex-direction: column;  
  }

.Circle2 .Path4 {
    margin-top: 19%;
    margin-left: -42%;
    height: 60%;
    width: 40%;
}

.Circle2 .Book1 {
    height: 80px;
    width: 80px;
    position: absolute;
    margin-top: 7%;
    margin-left: -5%;
}

.Circle3 {
    background-color: lightskyblue;
    border-radius: 200px;
    border: 1px solid;
    height: 300px;
    width: 300px;
    margin-left: 38%;
    margin-top: 8%;
   }

   .Circle3 .Cyber {
        height: 80px;
        width: 80px;
        margin-top: 12%;
   }

   .Circle3 .Cyber-Head {
    font-weight: 800;
    margin-top: 10%;
  }

  .Circle3 .Cyber-Statement {
    font-weight: 600;
    display: flex;
    flex-direction: column;  
  }

  .Circle3 .Path2 {
    height: 150px;
    width: 80px;
    margin-top: 2%;
    margin-right: 66%;
}

.Circle3 .Path3 {
    height: 200px;
    width: 200px;
    margin-top: -23%;
    margin-right: -14%;
}

.Circle3 .Grp1 {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 41%;
    margin-top: -2%;
}

.Circle4 {
    background-color: lightcoral;
    border-radius: 200px;
    border: 1px solid;
    height: 300px;
    width: 300px;
    margin-left: 50%;
    margin-top: 6%;
   }

   .Circle4 .ML {
    height: 80px;
    width: 80px;
    margin-top: 10%;
 }

 .Circle4 .ML-Head {
    font-weight: 800;
    margin-top: 10%;
  }

  .Circle4 .ML-Statement {
    font-weight: 600;
    display: flex;
    flex-direction: column;  
  }

  .Circle4 .Path4 {
    margin-top: 19%;
    margin-left: -42%;
    height: 60%;
    width: 40%;
}

.Circle4 .Book1 {
    height: 80px;
    width: 80px;
    position: absolute;
    margin-top: 7%;
    margin-left: -5%;
}

.Circle5 {
    background-color: yellow;
    border-radius: 200px;
    border: 1px solid;
    height: 300px;
    width: 300px;
    margin-left: 38%;
    margin-top: 8%;
   }

   .Circle5 .Game {
    height: 80px;
    width: 80px;
    margin-top: 12%;
}

   .Circle5 .Game-Head {
    font-weight: 800;
    margin-top: 10%;
  }

  .Circle5 .Game-Statement {
    font-weight: 600;
    display: flex;
    flex-direction: column;  
  }

  .Circle5 .Path2 {
    height: 150px;
    width: 80px;
    margin-top: 2%;
    margin-right: 66%;
}

.Circle5 .Path3 {
    height: 200px;
    width: 200px;
    margin-top: -23%;
    margin-right: -14%;
}

.Circle5 .Grp1 {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 41%;
    margin-top: -2%;
}

.Circle6 {
    background-color: lightgreen;
    border-radius: 200px;
    border: 1px solid;
    height: 300px;
    width: 300px;
    margin-left: 50%;
    margin-top: 6%;
   }

   .Circle6 .Inno {
    height: 80px;
    width: 80px;
    margin-top: 10%;
 }

 .Circle6 .Inno-Head {
    font-weight: 800;
    margin-top: 10%;
  }

  .Circle6 .Inno-Statement {
    font-weight: 600;
    display: flex;
    flex-direction: column;  
  }

@media only screen and (max-width: 800px) {

    .MainFrame {
        height: 250vh;
    }

    .Info {
        display: none;
    flex-direction: column;
    color: aliceblue;
    font-size: 16px;
    padding-left: 0%;
    padding-right: 0%;
    }

    .Path1 {
        margin-top: -5%;
        margin-left: 48%;
       }
       .Circle1 {
        /* color:goldenrod; */
        background-color: goldenrod;
        border-radius: 200px;
        border: 1px solid;
        height: 200px;
        width: 200px;
        margin-left: 26%;
       }

       
   .Circle1 .AR-Head {
    margin-top: 6%;
   }
   .Circle2 .Block-Head {
    margin-top: 6%;
   }
   .Circle4 .ML-Head {
    margin-top: 6%;
   }
   .Circle6 .Inno-Head {
    margin-top: 6%;
   }
   .Circle1 .AR-statement {
    font-size: 9px;
    margin: 4px 5px;
}

.Circle2 .Block-Statement {
    font-size: 9px;
    margin: 4px 5px;
}

.Circle4 .ML-Statement {
    font-size: 9px;
    margin: 4px 15px;
}

.Circle6 .Inno-Statement {
    font-size: 9px;
    margin: 4px 15px;
}

.Circle3 .Cyber-Statement {
    font-size: 9px;
    margin: 4px 15px;
}

.Circle5 .Game-Statement {
    font-size: 9px;
    margin: 4px 15px;
}


.Circle1 .Path2 {
    height: 50px;
    width: 40px;
}

.Circle1 .Path3 {
    height:100px;
    width: 100px;
    margin-top: -18%;
    margin-right: 10%;
}

.Circle1 .Code1 {
    height: 50px;
    width: 50px;
    left: 35% 
}

.Circle2 {
    /* color:goldenrod; */
    background-color: lightgreen;
    border-radius: 200px;
    border: 1px solid;
    height: 200px;
    width: 200px;
    margin-left: 42%;
    margin-top: 4%;
   }

   .Circle4 {
    height: 200px;
    width: 200px;
    margin-left: 42%;
    margin-top: 4%;
   }

   .Circle6 {
    height: 200px;
    width: 200px;
    margin-left: 42%;
    margin-top: 4%;
   }

   .Circle2 .Path4 {
    height: 100px;
    width: 100px;
   }

   .Circle2 .Book1 {
    height: 50px;
    width: 50px;
    margin-top: 10%;
    margin-left: -10%;
   }

   .Circle4 .Path4 {
    height: 100px;
    width: 100px;
   }

   .Circle4 .Book1 {
    height: 50px;
    width: 50px;
    margin-top: 10%;
    margin-left: -10%;
   }

   .Circle3 {
    /* color:goldenrod; */
    background-color: lightskyblue;
    border-radius: 200px;
    border: 1px solid;
    height: 200px;
    width: 200px;
    margin-left: 20%;
    margin-top: 14%;
   }

   .Circle5 {
    /* color:goldenrod; */
    /* background-color: lightskyblue; */
    /* border-radius: 200px;
    border: 1px solid; */
    height: 200px;
    width: 200px;
    margin-left: 20%;
    margin-top: 14%;
   }

   .Circle3 .Path2 {
    height: 50px;
    width: 40px;
}

.Circle3 .Path3 {
    height:100px;
    width: 100px;
    margin-top: -18%;
    margin-right: 10%;
}

.Circle3 .Grp1 {
    height: 50px;
    width: 50px;
    left: 30% 
}

.Circle5 .Path2 {
    height: 50px;
    width: 40px;
}

.Circle5 .Path3 {
    height:100px;
    width: 100px;
    margin-top: -18%;
    margin-right: 10%;
}

.Circle5 .Grp1 {
    height: 50px;
    width: 50px;
    left: 30% 
}
}