
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
 font-family: "GoogleSansBold";
 src: local("GoogleSansBold"),
  url("./fonts/googlesansdisplay-bold-v1.27_1-webfont.woff2") format("woff2");
 font-weight: bold;
}

@font-face {
 font-family: "GoogleSansRegular";
 src: local("GoogleSansRegular"),
  url("./fonts/googlesansdisplay-regular-v1.27-webfont.woff2") format("woff2");
 font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
